@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: #f7f6ee;
}

.title {
    display: inline-block;
    text-align: left;
    padding: 24px 45px;
    padding-left: 92px;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    transition: transform .3s;
    color: rgb(37, 19, 4);
}

.title:hover {
    transform: scale(1.2);
    color: black;
}

.title span {
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
}

.nav-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 16px;
    font-size: 23px;
}

.button {
    margin-top: 20px;
    display: inline-block;
    background-color: black;
    color: white;
    padding: 6px 22px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.357), 0 6px 20px 0 rgba(0, 0, 0, 0.742);
    transition: transform .2s;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.08);
    color: black;
    background-color: white;
    font-weight: 800;
}


.list {
    display: flex;
    list-style-type: none;
    padding: 45px;
    font-size: 19px;
}

.anchor {
    display: inline-block;
    text-decoration: none;
    padding: 0px 24px;
    color: rgb(37, 19, 4);
    transition: transform .3s;
}

.anchor:hover {
    text-decoration: underline;
    transform: translateY(20%);
    cursor: pointer;
    color: black;
    font-weight: 600;
}

/* section 1 */
.section1 {
    width: 600px;
    padding: 20px 5px;
    margin: 46px 270px;
}

.section1-title {
    font-size: 40px;
    font-family: 'Libre Baskerville', serif;

}

.section1-para {
    font-size: 20px;
    padding: 27px 10px;
    width: 460px;
    font-family: 'Caveat', cursive;
}

/* section 2 */

.foreground {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 263px;
    height: 700px;
    background-image: url("./images/home-background.png");
    background-size: cover;
}

.section2 img {
    width: 100%;
    padding: 10px 0px;
    transition: transform .2s;
}

/* .section2 img:hover {
    transform: scale(1.04);
} */

.fire {
    position: absolute;
    background-image: url(./images/fire.gif);
    background-size: cover;
    top: 671px;
    left: 690px;
    width: 135px;
    height: 89px;

}


/* section 3 */

.section3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 50rem;
    position: relative;
}

.dot {
    width: 52%;
    height: 380px;

    position: absolute;
    top: -49px;
    z-index: -1;
}

.section3 .man {
    width: 90%;
    padding-top: 125px;
    transition: tranform .2s;
    cursor: pointer;
}

.section3 .man:hover {
    transform: scale(1.04);
}

.section3 .content {
    width: 58%;
    font-size: 30px;
    padding-left: 0px;
    padding-top: 300px;
}

.section3 .content .title2 {

    font-family: 'Libre Baskerville', serif;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 33px;
}

.bird {
    width: 583px;
    position: absolute;
    top: -127px;
}

.circle {
    position: absolute;
    top: 101px;
    width: 286px;
    right: 0px;
}

.section3-para {
    width: 110%;
    font-size: 20px;
    padding: 20px 2px;
    font-family: 'Caveat', cursive;
}

/* section 4 */

.section4 {
    position: relative;
}

.foreground2 {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0px;
    height: 700px;
    background-image: url("./images/process-cloud-background.png");
    background-size: cover;
}

.section4 img {
    width: 98%;
    padding: 250px 0px;
    padding-bottom: 0px;
    transition: transform .2s;
}

/* .section4 img:hover{
        transform: scale(1.04);
    } */

.svg4 {
    width: 100px;
    position: absolute;
    right: 40.4%;
    top: 21.5%;
    z-index: 3;
    animation: rotation 5s infinite linear;
}

.svg5 {
    width: 600px;
    position: absolute;
    top: 75%;
    transition: transform .3s
}

.svg5:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* section 5 */
.section5 {
    width: 70%;
    padding: 20px 5px;
    margin: -49px 87px;
    margin-bottom: 47px;
}

.section5-title {
    font-size: 40px;
    font-family: 'Libre Baskerville', serif;

}

.section5-para {
    font-size: 20px;
    padding: 27px 10px;
    width: 100%;
    font-family: 'Caveat', cursive;
}

.button5 {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 6px 22px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.357), 0 6px 20px 0 rgba(0, 0, 0, 0.742);
    transition: transform .2s;
    cursor: pointer;
}

/* footer */

footer {
    margin-top: -40px;
    position: relative;
}

.svg1 {
    width: 250px;
    position: absolute;
    top: 13px;
    left: 86px;
}

.svg2 {
    display: inline-block;
    margin: 21px 25%;
    transition: transform .2s;
    cursor: pointer;
}

.svg2:hover {
    transform: scale(1.04);
}

.svg3 {
    width: 250px;
    position: absolute;
    top: 13px;
    right: 86px;
}

.svg1 {
    width: 250px;
}

/* footer-content */

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 70px;
    padding-left: 170px;
}

.footer-content p {
    font-size: 12px;
}

.footer-content>.item1 {
    width: 240px;
    transition: transform .2s;
    cursor: pointer;
}

.footer-content>.item1:hover {
    border: 2px solid wheat;
    padding: 12px;
    width: 262px;
    transform: scale(1.2);
}

.footer-content a {
    text-decoration: none;
    font-size: 12px;
    color: black;
}