footer {
    margin: 0vw auto;
    position: relative;
    color: white;
}



.foot_h2 {
    font-size: 16px;
}

.foot_p {
    font-size: 13px;
    padding-top: 3px;
    line-height: 16px;
}

.footer-content {
    display: grid;
    grid-template-columns: 30vw 30vw 25vw;
    justify-items: center;
    align-items: center;
    padding: 5vw;
    padding-left: 9vw;
    padding-top: 5vw;
    background-color: black;
    margin-top: 5vw;
}

.footer-content>.item1 {
    transition: transform .2s;
    cursor: pointer;
    padding: 0vw 3vw;
}



.foot_a {
    text-decoration: none;
    font-size: 13px;
    color: white;
    transition: transform .6s;
}

.foot_a:hover {
    font-weight: 900;
    display: block;
    transform: translateX(6px);
}

.foot_span {
    font-weight: 900;
}

.foot_ul {
    list-style-type: none;
}

@media screen and (max-width:790px) {
    .footer-content {
        grid-template-columns: 100vw;
        margin: 0vw auto;
        padding: 0vw;
        padding-left: 3vw;
        padding-bottom: 5vw;
        padding-top: 2vw;
        margin-top: 7vw;
    }

    .footer-content>.item1,.item2{
        transition: transform .2s;
        cursor: pointer;
        padding: 0vw;
        padding-left: 0vw;
        padding-top: 3vw;
        width: 60vw;

    }

    .foot_h2 {
        padding-bottom: 5px;
        font-size: 14px;
    }

    .foot_p {
        padding-top: 3px;
        font-size: 10px;
    }

    .foot_a {
        display: block;
        margin-top: 3px;
        font-size: 10px;
    }

}

@media screen and (max-width:650px) {
    .footer-content {
        grid-template-columns: 60vw 5vw;
        margin: 0vw auto;
        padding: 0vw;
        padding-left: 0vw;
    }
    

    .footer-content>.item1 {
        transition: transform .2s;
        cursor: pointer;
        padding: 0vw;
        margin-left: 18vw;
        padding-top: 3vw;
        width: 60vw;
        padding-bottom: 8vw;
    }

    .foot_p {
        padding-top: 0px;
        font-size: 10px;
    }
    .foot_item2{
        grid-column-start: 0;
        grid-column-end: 3;
        margin-left: -28vw;
        margin-top: 5vw;
        width: 80vw;
    }

    .foot_item3{
        padding-left: 30vw;
    }

    .footer-content>.item1 {
        width: 60vw;
    }
}