.title {
    width: 100%;
    display: inline-block;
    text-align: left;
    padding: 24px 45px;
    padding-left: 92px;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
}

.auth_none_h2{
    display: none;
}

.header_span{
    display: inline;
    color: #765757;
}
.auth_img{
    margin-top: -0.5vw;
    width: 3vw;
    border-radius: 50%;
    margin-right: 0vw;
}


.auth_h2{
    display: inline;
    font-size:1vw ;
    text-decoration: none;
    right: 2vw;
    top: 7.5vw;
    position: absolute;

}
.icon {
    display: none;
}

.logo:hover {
    transform: scale(1.2);
    color: black;
}

.logo {
    display: inline-block;
    transition: transform .6s;
}

.title span {
    margin-top: 0.5vw;
    font-size: 3.5vw;
    font-family: 'Permanent Marker', cursive;
}

.nav-bar {
    display: grid;
    grid-template-columns: 30vw 70vw;
}

.list {
    margin-top: 3.4vw;
    margin-right: 2.2vw;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    font-size: 1.6vw;
}

.show {
    display: block;
    list-style-type: none;
    width: 100%;
    text-align: center;
    display: grid;
}

.logo1 {
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    color: rgb(37, 19, 4);
}

.anchor {
    display: inline-block;
    text-decoration: none;
    padding: 15px 2vw;
    color: rgb(37, 19, 4);
    transition: transform .3s;
}
.ancho {
    display: inline-block;
    text-decoration: none;
    padding: 15px 2vw;
    color: rgb(37, 19, 4);
    transition: transform .3s;
}
.anchor2 {
    display: inline-block;
    text-decoration: none;
    padding: 15px 1vw;
    color: rgb(37, 19, 4);
    transition: transform .3s;
}

.anchor:hover {
    text-decoration: underline;
    transform: translateY(10%);
    cursor: pointer;
    color: black;
    font-weight: 600;
}


@media  screen and (max-width:950px) {
    /* 510 */
    .title {
    padding: 4vw 1vw;
    padding-left: 9vw;
    }
    .nav-bar{
        grid-template-columns: 1fr;
    }
    .title span {
        float: left;
        font-size: 6vw;
    }

    .auth_img{
        margin-top: -20px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 0vw;
    }
    .auth_img:hover{
        display: inline;
        transform: translate(0);
    }

    .auth_none_h2{
        display: block;
        font-size: 8px;
        padding-top: 0vw;
        text-decoration: none;
    }

    .list{
        display: none;
    }

    .show{
        display: grid;
        grid-template-columns: repeat(1fr);
        font-size: 15px;
        background-color: #f7f6ee;
        padding: 8px 0;
        padding-bottom: 0px;
        border-radius: 10px;
        position: absolute;
        margin: 0 1%;
        animation:ring 3s ease-in-out;
        width: 150px;
        right: 8vw;
        top: 15vw;
        z-index: 100;
        text-align: center;
        box-shadow: 0.2px 0.2px 5px rgba(128, 128, 128, 0.481);
        padding: 16px 22px;
        padding-bottom: 20px;
        border-radius: 20px;
    }
    .icon{
        display: inline-block;
        position: absolute;
        right: 5%;
        font-weight: 900;
        font-size: 30px;
        font-weight: bolder;
        margin-top: 1.4vw;
    }
    .icon:hover{
        cursor: pointer;
    }
    .anchor {
        display: inline-block;
        text-decoration: none;
        padding: 5px;
        color: #987474;
        transition: transform .3s;
    }
    .header_span{
        display: block;
        text-align: center;
        color: #765757;
    }
    .anchor:hover {
        text-decoration: none;
        transform: translateY(0%);
        cursor: pointer;
        color: #765757;
        font-weight: 900;
    }

    #blog{
        grid-column: 1/3;
    }
} 