.cards_view{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 4vw;
    margin-left: 5vw;
    margin-right: 2vw;
    margin-top: 3vw; 
}

.main{
    padding-bottom: 0vw;
}


@media  screen and (max-width:990px) {
    .cards_view{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 5vw;
        row-gap: 0%;
        margin-left: 15vw;
    }
}
@media  screen and (max-width:650px) {
    .cards_view{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        position: static;
        transform: translate(0);
        margin-top: 5vw;
        margin: 5vw;
        margin-left: 12vw;
    }
    
}
@media  screen and (max-width:400px) {
    .cards_view{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        position: static;
        transform: translate(0);
        margin-top: 10vw;
        margin-left: 18vw;
    }
    
}